In [1]:
import numpy as np
from numpy import random
import pandas as pd

In [5]:
_a=100
random.seed(222)
zz = random.randint(1,3,_a)
df = pd.DataFrame(zz,columns=["Toss-1"])
df

    Toss-1
0        1
1        2
2        2
3        1
4        1
..     ...
95       2
96       2
97       2
98       1
99       1

[100 rows x 1 columns]

In [6]:
_a=100
random.seed(222)
yy = random.randint(1,3,_a)
df1 = pd.DataFrame(yy,columns=["Toss-2"])
df1

    Toss-2
0        1
1        2
2        2
3        1
4        1
..     ...
95       2
96       2
97       2
98       1
99       1

[100 rows x 1 columns]

In [7]:
df_join = df.join(df1, how='inner')
df_join

    Toss-1  Toss-2
0        1       1
1        2       2
2        2       2
3        1       1
4        1       1
..     ...     ...
95       2       2
96       2       2
97       2       2
98       1       1
99       1       1

[100 rows x 2 columns]

In [9]:
def tossht(x):
    if x==1 :
        aa = "H"
    else:
        aa = "T"
    return aa

In [12]:
df_join['Toss-1HT'] = df_join['Toss-1'].apply(lambda x: tossht(x))
df_join

    Toss-1  Toss-2 Toss-1HT
0        1       1        H
1        2       2        T
2        2       2        T
3        1       1        H
4        1       1        H
..     ...     ...      ...
95       2       2        T
96       2       2        T
97       2       2        T
98       1       1        H
99       1       1        H

[100 rows x 3 columns]

In [13]:
df_join['Toss-2HT'] = df_join['Toss-2'].apply(lambda x: tossht(x))
df_join

    Toss-1  Toss-2 Toss-1HT Toss-2HT
0        1       1        H        H
1        2       2        T        T
2        2       2        T        T
3        1       1        H        H
4        1       1        H        H
..     ...     ...      ...      ...
95       2       2        T        T
96       2       2        T        T
97       2       2        T        T
98       1       1        H        H
99       1       1        H        H

[100 rows x 4 columns]