In [1]:
"""
# connect to an azure sql database using username and password
# and query the database for the top 10 rows of the table
"""
import pyodbc
import pandas as pd
import os

# set up the connection string
server = 'nilotpalc.database.windows.net'
database = 'mydatasets'
username = 'nilotpalc'
password = '<>pwd</>'
driver= '{ODBC Driver 18 for SQL Server}'
connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [2]:
# wrap the above code in a try-catch block to retry the connection in case it is timed out for a maximum of 3 times
max_retries = 3
retry_count = 0
while retry_count < max_retries:
    try:
        conn = pyodbc.connect(connection_string)
        break
    except pyodbc.OperationalError:
        retry_count += 1
        if retry_count == max_retries:
            raise

In [3]:
cursor = conn.cursor()

In [ ]:
conn.close()

In [4]:
# execute the query to get the list of tables
cursor = conn.cursor()
query = "SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE' AND TABLE_CATALOG='mydatasets'"
cursor.execute(query)

# print the list of tables
for row in cursor:
    print(row[0])

Customer
ProductModel
mpqaSTposneg
ProductDescription
Product
ProductModelProductDescription
ProductCategory
BuildVersion
ErrorLog
Address
CustomerAddress
SalesOrderDetail
SalesOrderHeader

In [5]:
# create a dataframe from the 'Customer' table in sql database
query = "SELECT * FROM [SalesLT].[Customer]"
df = pd.read_sql(query, conn)

/tmp/ipykernel_2188/668058721.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [6]:
conn.close()

In [7]:
atlantis = pd.read_csv('/workspaces/codespace-jupyter/data/atlantis.csv')

In [8]:
import os

# Install the Kaggle API client
# %pip install kaggle

# Set up the Kaggle API credentials
os.environ['KAGGLE_USERNAME'] = 'nilotpalchoudhury'
os.environ['KAGGLE_KEY'] = '<>api_key</>'

# Download the competition files
!kaggle competitions download -c playground-series-s3e20

Downloading playground-series-s3e20.zip to /workspaces/codespace-jupyter/notebooks
100%|██████████████████████████████████████| 48.9M/48.9M [00:04<00:00, 17.2MB/s]
100%|██████████████████████████████████████| 48.9M/48.9M [00:04<00:00, 10.9MB/s]

In [ ]:
"""
unzip the files
load each file data into a dataframe
"""
import zipfile
import pandas as pd
import os

# unzip the files
with zipfile.ZipFile('playground-series-s3e20.zip', 'r') as zip_ref:
    zip_ref.extractall()

# load each file data into a dataframe
dfs = []
for file in os.listdir():
    if file.endswith('.csv'):
        df = pd.read_csv(file)
        df['filename'] = file
        dfs.append(df)

df = pd.concat(dfs)

In [9]:
import sqlite3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
# connect to sqlite db 'datasets.db'
conn = sqlite3.connect('/workspaces/codespace-jupyter/data/datasets.db')

In [15]:
# show the list of tables in the database
query = "SELECT name FROM sqlite_master WHERE type='table'"
tbls = pd.read_sql(query, conn)
tbls

           name
0      atlantis
1     atlantis2
2        tweets
3  mpqaSTposneg

In [16]:

"""
# extract all the csv files from the zip archive and save them as individual dataframe
# save all the dataframes in a dictionary with the name of the csv file as the key
"""
from zipfile import ZipFile
zf = ZipFile('playground-series-s3e20.zip')
dfs = {}
for text_file in zf.infolist():
    if text_file.filename.endswith('.csv'):
        dfs[text_file.filename] = pd.read_csv(zf.open(text_file.filename, 'r'),encoding_errors='ignore')

In [17]:
dfs.keys()

dict_keys(['sample_submission.csv', 'test.csv', 'train.csv'])

In [18]:
conn.close()