In [8]:
import numpy as np
import pandas as pd
data_frame = pd.read_csv('cars.csv')

In [9]:
data_frame

,name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,Price,Dealer_Cost,Engine_size,cylenders,horsepower,city_miles_per_galloon,highway_miles_per_Gallon,weight,base_wheeel,length,width
0,Chevrolet Aveo 4dr,False,False,False,False,False,False,False,11690,10965,1.6,4,103,28.0,34.0,2370.0,98.0,167.0,66.0
1,Chevrolet Aveo LS 4dr hatch,False,False,False,False,False,False,False,12585,11802,1.6,4,103,28.0,34.0,2348.0,98.0,153.0,66.0
2,Chevrolet Cavalier 2dr,False,False,False,False,False,False,False,14610,13697,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
3,Chevrolet Cavalier 4dr,False,False,False,False,False,False,False,14810,13884,2.2,4,140,26.0,37.0,2676.0,104.0,183.0,68.0
4,Chevrolet Cavalier LS 2dr,False,False,False,False,False,False,False,16385,15357,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Nissan Titan King Cab XE,False,False,False,False,True,True,False,26650,24926,5.6,8,305,14.0,18.0,5287.0,140.0,NaN,NaN
424,Subaru Baja,False,False,False,False,True,True,False,24520,22304,2.5,4,165,21.0,28.0,3485.0,104.0,NaN,NaN
425,Toyota Tacoma,False,False,False,False,True,False,True,12800,11879,2.4,4,142,22.0,27.0,2750.0,103.0,NaN,NaN
426,Toyota Tundra Regular Cab V6,False,False,False,False,True,False,True,16495,14978,3.4,6,190,16.0,20.0,3925.0,128.0,NaN,NaN
427,Toyota Tundra Access Cab V6 SR5,False,False,False,False,True,True,False,25935,23520,3.4,6,190,14.0,17.0,4435.0,128.0,NaN,NaN

In [10]:
data_frame.shape

(428, 19)

In [11]:
data_frame['cylenders'].unique()

array([ 4,  6,  3,  8,  5, 12, 10, -1], dtype=int64)

In [12]:
data_frame['cylenders'].nunique()

8

In [13]:
data_frame[data_frame['cylenders']==-1]

,name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,Price,Dealer_Cost,Engine_size,cylenders,horsepower,city_miles_per_galloon,highway_miles_per_Gallon,weight,base_wheeel,length,width
271,Mazda RX-8 4dr automatic,True,False,False,False,False,False,True,25700,23794,1.3,-1,197,18.0,25.0,3053.0,106.0,174.0,NaN
272,Mazda RX-8 4dr manual,True,False,False,False,False,False,True,27200,25179,1.3,-1,238,18.0,24.0,3029.0,106.0,174.0,NaN

In [14]:
data_frame['horsepower'].mean()

215.8855140186916

In [15]:
data_frame['horsepower'].max()

500

In [18]:
data_frame[data_frame['Price']==data_frame['Price'].max()]

,name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,Price,Dealer_Cost,Engine_size,cylenders,horsepower,city_miles_per_galloon,highway_miles_per_Gallon,weight,base_wheeel,length,width
287,Porsche 911 GT2 2dr,True,False,False,False,False,False,True,192465,173560,3.6,6,477,17.0,24.0,3131.0,93.0,175.0,72.0

In [19]:
data_frame = data_frame.rename(columns={'name':'car name'})

In [20]:
data_frame

,car name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,Price,Dealer_Cost,Engine_size,cylenders,horsepower,city_miles_per_galloon,highway_miles_per_Gallon,weight,base_wheeel,length,width
0,Chevrolet Aveo 4dr,False,False,False,False,False,False,False,11690,10965,1.6,4,103,28.0,34.0,2370.0,98.0,167.0,66.0
1,Chevrolet Aveo LS 4dr hatch,False,False,False,False,False,False,False,12585,11802,1.6,4,103,28.0,34.0,2348.0,98.0,153.0,66.0
2,Chevrolet Cavalier 2dr,False,False,False,False,False,False,False,14610,13697,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
3,Chevrolet Cavalier 4dr,False,False,False,False,False,False,False,14810,13884,2.2,4,140,26.0,37.0,2676.0,104.0,183.0,68.0
4,Chevrolet Cavalier LS 2dr,False,False,False,False,False,False,False,16385,15357,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Nissan Titan King Cab XE,False,False,False,False,True,True,False,26650,24926,5.6,8,305,14.0,18.0,5287.0,140.0,NaN,NaN
424,Subaru Baja,False,False,False,False,True,True,False,24520,22304,2.5,4,165,21.0,28.0,3485.0,104.0,NaN,NaN
425,Toyota Tacoma,False,False,False,False,True,False,True,12800,11879,2.4,4,142,22.0,27.0,2750.0,103.0,NaN,NaN
426,Toyota Tundra Regular Cab V6,False,False,False,False,True,False,True,16495,14978,3.4,6,190,16.0,20.0,3925.0,128.0,NaN,NaN
427,Toyota Tundra Access Cab V6 SR5,False,False,False,False,True,True,False,25935,23520,3.4,6,190,14.0,17.0,4435.0,128.0,NaN,NaN

In [21]:
new_df = data_frame.loc[:,['car name','Price']]

In [22]:
new_df

                            car name  Price
0                 Chevrolet Aveo 4dr  11690
1        Chevrolet Aveo LS 4dr hatch  12585
2             Chevrolet Cavalier 2dr  14610
3             Chevrolet Cavalier 4dr  14810
4          Chevrolet Cavalier LS 2dr  16385
..                               ...    ...
423         Nissan Titan King Cab XE  26650
424                      Subaru Baja  24520
425                    Toyota Tacoma  12800
426     Toyota Tundra Regular Cab V6  16495
427  Toyota Tundra Access Cab V6 SR5  25935

[428 rows x 2 columns]

In [23]:
def pricingcategory(price):
    if price <20000:
        return 'Budget Car'
    elif price <35000:
        return 'Suitable Car'
    else:
        return 'Expensive Car'

In [25]:
new_df['Category'] = new_df['Price'].map(pricingcategory)

In [26]:
new_df

                            car name  Price      Category
0                 Chevrolet Aveo 4dr  11690    Budget Car
1        Chevrolet Aveo LS 4dr hatch  12585    Budget Car
2             Chevrolet Cavalier 2dr  14610    Budget Car
3             Chevrolet Cavalier 4dr  14810    Budget Car
4          Chevrolet Cavalier LS 2dr  16385    Budget Car
..                               ...    ...           ...
423         Nissan Titan King Cab XE  26650  Suitable Car
424                      Subaru Baja  24520  Suitable Car
425                    Toyota Tacoma  12800    Budget Car
426     Toyota Tundra Regular Cab V6  16495    Budget Car
427  Toyota Tundra Access Cab V6 SR5  25935  Suitable Car

[428 rows x 3 columns]

In [27]:
new_df['Category'].value_counts()

Suitable Car     193
Expensive Car    137
Budget Car        98
Name: Category, dtype: int64